@model VIVs.Models.Vivsaboutu

@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}
<div class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                
              </div>
            </div>
            <div class="card-body">
              <form asp-action="About" enctype="multipart/form-data">
                <p class="text-uppercase text-sm">Home Information</p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label asp-for="Name" for="example-text-input" class="form-control-label">Name</label>
                      <input asp-for="Name" class="form-control" type="text" value="@Model.Name" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label asp-for="Email" for="example-text-input" class="form-control-label">Email</label>
                      <input asp-for="Email" class="form-control" type="email" value="@Model.Email" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label asp-for="Message" for="example-text-input" class="form-control-label">Message</label>
                      <input asp-for="Message" class="form-control" type="text" value="@Model.Message" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label asp-for="PhoneNumber" for="example-text-input" class="form-control-label">PhoneNumber</label>
                      <input asp-for="PhoneNumber" class="form-control" type="tel" value="@Model.PhoneNumber" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label asp-for="Address" for="example-text-input" class="form-control-label">Address</label>
                      <input asp-for="Address" class="form-control" type="text" value="@Model.Address" required>
                    </div>
                  </div>

                </div>
                <hr class="horizontal dark">
                <div class="form-group" style="display:flex;justify-content: center;">
                    <input type="submit" value="Save" class="btn btn-primary col-md-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

@*  target="_blank" *@

<br />

