@model IEnumerable<VIVs.Models.Vivsuser>
@{
    ViewData["Title"] = "Archive Page";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6 style="padding-left: 20px;padding-top: 20px;">Provider Requests</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Provider Info</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Establishment Info</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phonenumber</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model) {
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      @if(@item.Image != null)
                      {
                        <div>
                          <img src=@Url.Content("~/Images/"+@item.Image) class="avatar avatar-sm me-3" alt="user1" style="width:700px;height:300px;" />
@*                          <img src=@Url.Content("~/Images/"+@item.ImagePath) class="avatar avatar-sm me-3" alt="user1">*@
                        </div>
                      }
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">@item.Fullname</h6>
                        <p class="text-xs text-secondary mb-0">@item.Email</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">@item.Estabname</p>
                    <p class="text-xs text-secondary mb-0">@item.Establishmentnationalnumber</p>
                  </td>
                  <td class="align-middle ">
                    <span class="text-secondary text-xs font-weight-bold">@item.Phonenumber</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm" style="background-image: linear-gradient(310deg, #d1c512 0%, #ddd619 100%);">Waiting</span>
                  </td>
                  @if(@item.Categorytype.Categoryname !="Others")
                  {
                    <td class="align-middle ">
                      <span class="text-secondary text-xs font-weight-bold">@item.Categorytype.Categoryname</span>
                    </td>
                  }
                  else
                  {
                    <td class="align-middle ">
                      <span class="text-secondary text-xs font-weight-bold">@item.Otherscategory</span>
                    </td>
                  }
                  <td>
                    <p class="text-xs font-weight-bold mb-0">@item.City.City</p>
                    <p class="text-xs text-secondary mb-0">@item.Address</p>
                  </td>
                  <td class="align-middle ">

                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit Status</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />